

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    display: inline;
}
*{
    margin: 0;
}

.pages{
    display: inline;
    width: 400px;
    float: right;
    margin-top: 48px;
    font-size: 15px;
}
.pages>a{
    margin-left: 15px;
}
.footer_box{
    padding: 1vh;
    background-color: #f1f1f1;
    color: #525252;
    text-align: center;
}
.section>h2{
    text-align: center;
}
.logo{
    display: inline;
}
.logo_img{
    width: 150px;
    margin: 1vh;
    margin-left: 5vh;
}
.header_ln{
    border: 1px solid #a4ebf8;
}

#submit{
    font-size: 2.5vh;
    width: 30vh;
    height: 5vh;
    background-color: #a4baf8;
    border: 1px solid #e0e0e0;
    border-radius: 7vh;
}